@axio:registry=https://pkgs.dev.azure.com/DM-FOOD/74c0a515-d072-4cd0-b7ca-28d4a7136009/_packaging/axio-kk/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/DM-FOOD/74c0a515-d072-4cd0-b7ca-28d4a7136009/_packaging/axio-kk/npm/registry/:username=DM-FOOD
//pkgs.dev.azure.com/DM-FOOD/74c0a515-d072-4cd0-b7ca-28d4a7136009/_packaging/axio-kk/npm/registry/:_password=Rkxtek9tVmFwR2ZmdHlLYlZiWmxoRkN2TEVnZ25NZkRsREJvN1dIanpDeHN2T2NWd2FSUUpRUUo5OUJHQUNBQUFBQTh3Y2o4QUFBU0FaRE9la3Jj
//pkgs.dev.azure.com/DM-FOOD/74c0a515-d072-4cd0-b7ca-28d4a7136009/_packaging/axio-kk/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/DM-FOOD/74c0a515-d072-4cd0-b7ca-28d4a7136009/_packaging/axio-kk/npm/:username=DM-FOOD
//pkgs.dev.azure.com/DM-FOOD/74c0a515-d072-4cd0-b7ca-28d4a7136009/_packaging/axio-kk/npm/:_password=Rkxtek9tVmFwR2ZmdHlLYlZiWmxoRkN2TEVnZ25NZkRsREJvN1dIanpDeHN2T2NWd2FSUUpRUUo5OUJHQUNBQUFBQTh3Y2o4QUFBU0FaRE9la3Jj
//pkgs.dev.azure.com/DM-FOOD/74c0a515-d072-4cd0-b7ca-28d4a7136009/_packaging/axio-kk/npm/:email=npm requires email to be set but doesn't use the value
; end auth token